.list {
    display: flex;
    justify-content: center;
}

.list-users {
    list-style-type: none;
}

.list-users .list-title{
    text-align: center;
}

.users-empty{
    text-align: center;
}

.list-users a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-family: "Franklin Gothic Medium", sans-serif;
}

.list-item{
    display: flex;
    align-items: center;
    padding: 5px;
    width: 400px;
    height: 110px;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.75);
    background: #7986CB;
    padding-bottom: 10px;
    margin-top: 10px;
    border-radius: 5px;
}

.list-item .avatar{
    margin-left: 20px;
    border-radius: 50%;
    width: 80px;
    height: 80px;
}

.list-item .user-data{
    margin-left: 20px;
}

.list-item .user-data .label{
    padding-right: 5px;
    color: #1A237E;
}

.list-item .info{
    color: #FFFFFF;
}

